[package]
edition = "2021"
name = "dc-motor"
version = "0.1.0"
license = "MIT OR Apache-2.0"
authors = ["Tutla"]
description = "DC Motor Control with Rotary Encoder"
repository = "https://github.com/tutla53/dc-motor"

[dependencies]
embassy-sync = { version = "0.6.2", features = ["defmt"] }
embassy-executor = { version = "0.9.1", features = ["arch-cortex-m", "executor-thread", "executor-interrupt", "defmt"] }
embassy-time = { version = "0.5.0", features = ["defmt", "defmt-timestamp-uptime"] }
embassy-rp = { version = "0.9.0", features = ["defmt", "unstable-pac", "time-driver", "critical-section-impl", "rp2040"] }
embassy-usb-logger = { version = "0.4.0" }
embassy-usb ={ version = "0.5.1"}
embassy-futures = { version = "0.1.2" }

defmt = "0.3"
defmt-rtt = "0.4"

assign-resources = {version = "0.5.0"}
heapless = { version = "0.8", default-features = false }
cortex-m-rt = "0.7.0"
panic-probe = { version = "0.3", features = ["print-defmt"] }
log = "0.4"
pio = "0.3.0"
libm = "0.2.11"
static_cell = "2.1.1"
portable-atomic = { version = "1.13.0", features = ["critical-section"] }
fixed = "1.30.0"

[profile.release]
opt-level = "s"      # "s" optimizes for size while keeping speed; use "z" for smallest binary
lto = "fat"          # Link Time Optimization is crucial for removing unused HAL code
codegen-units = 1    # Allow the compiler to see the whole project for better optimization
panic = "abort"      # Embedded apps shouldn't "unwind" on panic
strip = true         # Removes symbol tables to save Flash space

[profile.dev]
debug = 2
lto = true
opt-level = "z"

[package.metadata.cargo-machete]
ignored = ["defmt", "defmt-rtt", "cortex-m-rt", "panic-probe"]
